.DS_Store
node_modules
build
*.log
.idea
.metadata
jdt.ls-java-project
lerna-debug.log
.nyc_output
coverage
.browser_modules
download
*ui-spec.ts
*slow-spec.ts
test-resources
__tests__
*.spec.js
*.spec.ts
*.spec.d.ts
*.spec.js.map
*.spec.ts.map
*.spec.d.ts.map
